# generated data — don't commit this! you can regenerate by running pipeline
data/chromadb/
data/raw/
data/chunks/
 
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
 
# OS
.DS_Store
 
# virtual environment
venv311
venv

# student id - create this file locally in the root folder
ID.txt